:root{
  --base-color: white;
  --base-variant:#e8e9ed;
  --text-color:#111528;
  --secondary-color:#232738;
  --primary-color:#3a435d;
  --accent-color:#0071ff;
}
.darkmode{
  --base-color: #21243D;
  --base-variant:#2c304d;
  --text-color:#ffffff;
  --secondary-color:#2c304d;
  --primary-color:#3a435d;
  --accent-color:#0071ff;
}
body {
  background-color: var(--base-color);
  color: var(--text-color);
  transition: background-color 0.5s, color 0.5s;
}