body.dark-mode {
  background-color: #121212;
  color: #ffffff;
}

body.dark-mode header {
  background-color: #1e1e1e;
}

body.dark-mode .nav-links a {
  color: #ffffff;
}

body.dark-mode .project {
  background-color: #2d2d2d;
}

body.dark-mode .project-info h3,
body.dark-mode .project-info p {
  color: #ffffff;
}

body.dark-mode .info p {
  color: #ffffff;
}

body.dark-mode .dark-mode-toggle i {
  color: #ffffff;
}

.dark-mode-toggle {
  cursor: pointer;
  margin-left: 1rem;
}

.dark-mode-toggle i {
  font-size: 1.5rem;
  color: #333;
}